.m~
.dep
.LinkFileList
.pbxproj
.xcconfig
.xcodeproj
.xcsettings
.hmap
.1
.xccheckout
.xcworkspace
.xcuserstate
.xcbkptlist
.xcscheme
.plist
.d
.dat
.dep
.o
.mexmaci64
.xcuserstate
.build
.DS_Store
.pbxproj
.xcscheme
.xcworkspacedata
.dia
.pbxproj
.xcshareddata
.a
.hmap
./static_libs/
./mex/
/cpp_code/im_calc_p0/im_calc_p0.xcodeproj/

/cpp_code/mex_im_calc_p0/mex_im_calc_p0.xcodeproj/xcuserdata/jesposito.xcuserdatad/xcschemes/xcschememanagement.plist

/cpp_code/mex_im_calc_p0/mex_im_calc_p0.xcodeproj/project.pbxproj

/cpp_code/mex_im_calc_p0/build/

/cpp_code/mex_im_calc_p0/mex_im_calc_p0/

/mex/

/static_libs/

/cpp_code/mex_im_calc_p0/mex_im_calc_p0.xcodeproj/

/Generic_Motion/im_calc_p1.txt

/Generic_Motion/im_calc_t1.txt
